#wrapper{
			width: 980px;
			height: auto;
			margin: 0 auto;
		}
		#header{
			width: auto;
			height: 100px;
			background-color: red;
		}
		#content{
			width: auto;
			height: 400px;
			background-color: green;
		}
		#footer{
			width: auto;
			height: 50px;
			background-color: blue;
		}